@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');

body { font-family: 'Nanum Gothic', sans-serif;}

h1 {
  font-family: 'Nanum Gothic';
  font-weight: 800;
}

h2, h3 {
  font-family: 'Nanum Gothic';
  font-weight: 700;
}

